<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 根节点必须是mapper -->
<mapper namespace="com.jc.jc_backer.modules.Word.mapper.WordMapper">

    <select id="findWordMessage" resultType="com.jc.jc_backer.modules.Word.entity.WordEntity">
        SELECT
          *
        FROM
          jc_word
        WHERE
          id=#{id};
    </select>

    <!--<insert id="insertWordMessage" parameterType="com.jc.jc_backer.modules.Word.entity.WordEntity" useGeneratedKeys="true" keyProperty="id">-->
        <!--INSERT INTO jc_word-->
        <!--VALUES(-->
               <!--#{id},#{dates},#{enact},#{sort},#{ratify},#{describes},#{term},#{explanation},#{doc_name},#{doc_label_no},#{req_id},#{priority},#{test_case_name},-->
               <!--#{lead_role},#{precondition},#{post_condition},#{functional_category},#{functional_design_description},#{supplementary_instruction},-->
               <!--#{expected_to_artificial},#{development_constraints},#{progress_of_the_target},#{quality_expectations},#{staff_requirement},#{acceptance_criteria},-->
               <!--#{maintenance_requirements},#{secret_and_confidential},#{customer_company_name},#{linkman},#{contact_way},#{final_user}-->
              <!--)-->
    <!--</insert>-->

</mapper>