<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>金诚后台管理系统</title>
    <meta name="keywords" content="后台登陆页面模板,后台登录界面html,后台登录模板,后台登录页面html,后台管理系统后台登录模板">
    <meta name="description" content="cssmoban提供后台管理系统登录界面html模板学习和下载">
    <meta name="viewport" content="width=device-width">
    <link href="../static/assets/css/base.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/css/login.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="../static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../static/assets/i/app-icon72x72@2x.png">
    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <![endif]-->

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="../static/assets/js/jquery.min.js"></script>

    <script src="../static/assets/js/do.js"></script>
    <!--<script src="../static/assets/js/config.js"></script>-->
    <script src="../static/assets/js/index/index.js"></script>
</head>
<body>

<div class="login">
    <form action="" method="post" id="form">
        <div class="logo"></div>
        <div class="login_form">
            <div class="user">
                <input class="text_value" value="" name="username" type="text" id="username">
                <input class="text_value" value="" name="password" type="password" id="password">
            </div>
            <!--<a style="font-size: 30px;color: cornsilk" href="register.html">注册</a>-->
            <button class="button" id="submit" type="button">登陆</button>
        </div>

    </form>
</div>

</body>
</html>
